
# Django
export DEBUG
export SECRET_KEY
export CSRF_TRUSTED_ORIGINS
export DJANGO_SETTINGS_MODULE

# Redis
export REDIS_URL
export REDIS_CHANNEL_URL

# Database
export DATABSE_URL
export DATABASE_HOST
export DATABASE_PORT
export DATABASE_NAME
export DATABASE_USER
export DATABASE_PASSWORD

export DATABASE_SSL_MODE