version: '3'

services:
  postgres:
    image: postgres:16.0-alpine3.18
    container_name: postgres_rt
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./bin/db:/docker-entrypoint-initdb.d
    networks:
      - rockettalk
  redis:
    image: redis
    container_name: redis-server
    ports:
      - "6379:6379"
    networks:
      - rockettalk
  rocket:
    build: .
    command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    container_name: rockettalk
    restart: always
    depends_on:
      - postgres
      - redis
    volumes:
      - ./rockettalk:/app
    ports:
      - "8000:8000"
    networks:
      - rockettalk

networks:
  rockettalk:
    driver: bridge