name: Run tests

on: ['push', 'pull_request']
jobs:    
  build:
  
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.9]

    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        ports:
          - 5432:5432
        # Provide the password for postgres
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        volumes:
          - ./bin/db:/docker-entrypoint-initdb.d
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Provide permissions
      run: sudo chown -R $USER:$USER /home/runner/work/rockettalk/rockettalk/bin/db
    - name: Install Dependencies
      run: |
        cd rockettalk
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        cd rockettalk
        python manage.py test
      env:
        DATABASE_HOST: postgres
        DATABASE_PORT: 5432
        DATABASE_NAAME: postgres
        DATABASE_USER: postgres
        DATABASE_PASSWORD: postgres
